.headerSVG-img {
    background-color: red;
    width: 140%;
    margin-left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top:16px;
    width: 130%;
}

.headerSVG-img path {
    fill: #162BF4 !important;
}
